services:
  postgresql:
    container_name: postgres
    image: postgres:15.1
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5

  nats:
    container_name: nats
    image: nats:latest
    volumes:
      - nats_data:/data
    ports:
      - "4222:4222"
      - "8222:8222"
    command: "-m 8222"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "4222"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - web_network

  server:
    container_name: server
    build: .
    ports:
      - 8025:8000
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ./src:/app/src 
    env_file:
      - .env
    networks:
      - web_network

volumes:
  postgres_data:
  nats_data:

networks:
  web_network:
    driver: bridge